<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Paratus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  </head>
  <body>
    <div class="navbar">
      <a href="{% url 'main:home' %}" id="logo"><img src="{% static "images/logo.png" %}" width= "200px"></a>
      <div class="navbar-right">
        <a href="{% url 'main:home' %}">Home</a>
        <div class="dropdown">
          <button class="dropbtn" onclick="window.location.href = '{% url 'main:basics' %}';">Basics
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'main:taxes' %}">Taxes</a>
            <a href="{% url 'main:credit' %}">Credit Score</a>
            <a href="{% url 'main:retirement' %}">Retirement</a>
            <a href="{% url 'main:student' %}">Student Finance</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" onclick="window.location.href = '{% url 'main:investment' %}';">Investment
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content" id="investment">
            <a href="{% url 'main:stocks' %}">Stocks</a>
            <a href="{% url 'main:property' %}">Property</a>
            <a href="{% url 'main:bonds' %}">Bonds</a>
          </div>
        </div>
        <a href="{% url 'main:forum' %}">Forum</a>
        <a class ="active" href="{% url 'main:login' %}">Login</a>
      </div>
    </div>

    <div class="container">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="loginbtn">Login</button>
      </form>
    </div>


    <p>Don't have an account? <a href="{% url 'main:signup' %}">Create One</a></p>
  </body>
</html>
